# Visual Studio cache files
.vs/
*.suo
*.user

# Build results
[Bb]in/
[Oo]bj/

# Other
packages/
*.vspscc
*.vssscc
_ReSharper*/


# Bỏ qua cấu hình và code riêng tư
appsettings.json
**/QuanLyNhaHangContext.cs
**/Program.cs